<nav id="app">
  <%= coffeepot_tags %>

  <button id="play">PLAY</button>
  <button id="stop">STOP</button>
  <button id="reset">RESET</button>

  <%= create_ace @code, :id => "coffee_editor" %>

</nav>
